<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Evah_s_Nails.My.MySettings.Conexion" connectionString="Data Source=DESKTOP-S193138\SQLEXPRESS;Initial Catalog=Evahs_Nails;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>